<!DOCTYPE html>
<html lang="pt-br">
<body>
    <h1>Send Meme!</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="mandar meme">
    </form>
</body>
</html>